web/sitemap.xml
.idea
nbproject
.buildpath
.project
.settings
/vendor
node_modules
composer.phar
.DS_Store
phpunit.phar
/phpunit.xml

tests/_output/*
tests/_support/_generated

web/images/update/*
!web/images/update/.gitkeep
